body{
    background-color: rgb(57, 114, 168);
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 20px;
    margin: auto;
    width: 500px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
}
footer{
    text-align: center;
    color: white;
    font-size: 1.2em;
}
.btn{
    background-color: rgb(57, 114, 168);
    box-shadow:2px 2px 5px black;
    border: solid;
    border-radius: 5px;
    width: 100px;
}